.anakısım {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);

}

.kulanıcıkısmı {
    width: auto;
    height: 40px;

    font-size: xx-large;
    margin-left: 20px;

}

.linkkısmı {
    width: auto;
    height: 20px;
    color: grey;
    margin-left: 20px;

}

.linkkısmı a {
    text-decoration: none;

}

.kullanıcıekleme {
    width: auto;
    height: 450px;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid grey;

}

.ustbaslık {

    background-color: dimgray;
    font-size: large;
    padding: 15px;
    color: white;
}

.solkısım {
    margin: 10px;
    float: left;
    width: 48%;
    height: 300;

}

.sagkısım {
    margin: 10px;
    float: right;
    width: 48%;
    height: 300;


}

.solsagtutucu {
    width: 100%;
    height: 350px;
    display: flex;

}

.styled-input {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: width 0.3s;
    width: 100%;
}

.yazıb {
    color: rgb(22, 22, 22);
    font-size: 18px;

}

.form1 {
    margin-top: 15px;
    margin-bottom: 15px;

}

textarea {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: width 0.3s;
    width: 100%;
}

select {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: width 0.3s;
    width: 100%;
}

.add-button {
    text-align: center;
    padding: 10px;

    border-radius: 5px;
    font-size: 16px;
    transition: width 0.3s;
    width: 30%;
margin-top: 25px;
margin-left: -75px;
    background-color: blue;
}

.add-button:hover {
    background-color: #2980b9;
}

.deneme {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.sol {
    float: left;
    font-size: 20px;
    color: blue;
    margin-left: 20px;
}

.sag {
    float: right;
    font-size: 20px;
}
.auto {  
    margin-top: 25px;
    display: block;  
    border: 1px solid grey;  
padding-bottom: 100px;  
    width: 100%;  
    height: 50px;  
    overflow: auto;  
 }  